<div style="display: flex">
  <div class="filterMenu" style="display: flex; justify-content: center;">
    <div class="col-lg-6" style="width: 75%; margin-top: 15px;">
      <div class="mb-3">
        <label class="form-label">Naam</label>
        <input class="form-control" type="text" [(ngModel)]="this.CompanyTitle"/>
        <button (click)="SearchByName(CompanyTitle)" class="btn btn-primary" style="margin-top: 10px;">Zoek</button>
      </div>
    </div>
  </div>
  <div class="cardContainer">
    <div class="companyCard" *ngFor="let n of AllCompanies" (click)="navigateInfoCompany(n.id)">
      <div class="companyCardImage" #imageDiv>
        <img *ngIf="n.images.length > 0" src="{{ n.images[0] }}">
      </div>
      <div class="companyCardText" [style.maxWidth.px]="imageDiv.clientWidth-40">
        <h1>{{ n.title }}</h1>
        <p class="textcontainer">{{ n.description }}</p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
