.companyCard {
  overflow: hidden;
  height: 47vh;
  max-width: 49%;
  width: fit-content;
  min-width: 15vw;
  flex-basis: 200px;
  flex-grow: 1;
  background: white;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.4s;
}

.companyCard:hover {
  scale: 1.03;
}

.companyCardImage {
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
}

.companyCardImage img {
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  position: absolute;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.companyCardText{
  padding: 0 20px;
  height: 40%;
  overflow: hidden;
}

.companyCardExpire{
  margin-top: 2%;
  height: 5%;
  width: 100%;
  display: flex;
}

.companyCardExpireDate{
  width: 45%;
  height: 100%;
  margin: 0 0 0 5%;
}

.companyCardExpireParticipants{
  width: 100%;
  height: 100%;
  margin: 0 5% 0 0;
  text-align: right;
}

h1{
  margin-top: 5px;
  font-family: Neutrif;
  font-weight: 600;
  font-size: x-large;
}

p{
  font-family: Neutrif
}

img{
  max-width: 100%;
  max-height: 50%;
  overflow: hidden;
}

.filterMenu{
  background-color: white;
  min-height: 94vh;
  width: 17vw;
  margin-left: 1.5vw;
}

.cardContainer{
  background-color: white;
  min-height: 92vh;
  width: 82vw;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 1px;
  padding-left: 2vw;
}

.textcontainer{
  max-height: 20px;
}
