<div class="deal_container">
  <img class="deal_image" src="{{this.deal.images[0]}}">
  <div class="title_container">
    <h1 class="title">{{ this.deal.title}} </h1>
  </div>
  <p class="description">{{ this.deal.description}} </p>
  <button class="corner_button" (click)="modalService.open('modal-1')">Ik doe mee!</button>

  <jw-modal id="modal-1">
    <h1>{{this.deal.title}}</h1>
    <p>Meld je aan voor deze Deal!<br> Hiervoor hebben wij alleen jouw E-mail address nodig.</p>
    <input type="text" placeholder="E-mail address" [(ngModel)]="UserEmail"/><br><br>
    <button class="mail-button" (click)="SendEmail()" [disabled]="disableSendButton">Deal verzenden</button>
    <button class="exit-button" (click)="modalService.close();">Close</button>
  </jw-modal>
</div>
