.card{
  max-width: 20vw;
  overflow: hidden;
  max-height: 30vw;
  padding: 20px;
  background: yellow;
  margin: 10px;
}

img{
  max-width: 100%;
}

.container{
  background-color: #66ff00;
  min-height: 94vh;
  width: 80vw;
  display: flex;
  flex-wrap: wrap
}
