<div style="display: flex">
  <div class="filterMenu">
  </div>
  <div class="cardContainer">
    <div class="dealCard" *ngFor="let n of AllDeals" [style.maxHeight.px]="imageDiv.clientWidth*2" (click)="navigateInfoDeal(n.id)">
      <div class="dealCardImage" #imageDiv>
        <img *ngIf="n.images.length > 0" src="{{ n.images[0] }}">
      </div>
      <div class="dealCardText" [style.maxWidth.px]="imageDiv.clientWidth-40">
        <h1>{{ n.title }}</h1>
        <p class="textcontainer">{{ n.description }}</p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
