<div style="display: flex">
  <div class="filterMenu" style="display: flex; justify-content: center;">
    <div class="col-lg-6" style="width: 75%; margin-top: 15px;">
      <div class="mb-3">
        <label class="form-label">Categorie</label>
        <select class="form-select" [(ngModel)]="this.SelectedCategoryID">
          <option *ngFor="let category of this.Categories" [ngValue]="category.dealCategoryID">{{category.name}}</option>
        </select>
        <button (click)="FilterByCategory()" class="btn btn-primary" style="margin-top: 10px;">Filter</button>
      </div>
      <div class="mb-3">
        <label class="form-label">Naam</label>
        <input class="form-control" type="text" [(ngModel)]="this.DealTitle"/>
        <button (click)="SearchByName(DealTitle)" class="btn btn-primary" style="margin-top: 10px;">Zoek</button>
      </div>
      <p *ngIf="SearchTitle != '' ">resultaten voor "{{SearchTitle}}"</p>
    </div>
  </div>
  <div class="cardContainer">
    <div class="dealCard" *ngFor="let n of AllDeals" (click)="navigateInfoDeal(n.id)">
      <div class="dealCardImage" #imageDiv>
        <img *ngIf="n.images.length > 0" src="{{ n.images[0] }}">
      </div>
      <div class="dealCardText">
        <h1>{{ n.title }}</h1>
        <p class="textcontainer">{{ n.description }}</p>
      </div>
      <div class="dealCardExpire">
        <p class="dealCardExpireDate" [style]="{'color': HasDatePassed(n.activeTill) ? 'black' : 'red'}" *ngIf="MustDateBeShown(n.activeTill)">{{n.activeTill | date:'dd/MM/yyyy'}}</p>
        <p class="dealCardExpireParticipants" [style]="{'color': n.maxParticipants - n.claimed == 0 ? 'red' : 'black'}" *ngIf="n.maxParticipants > 0">{{n.maxParticipants - n.claimed}} over</p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
