@import '~bootstrap/dist/css/bootstrap.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "node_modules/ngx-toastr/toastr.css";
@font-face {
  font-family: "Neutrif";
  src: url('../fonts/NeutrifStudio-Regular.ttf')
}

@font-face {
  font-family: 'Proxima';
  src: url('../fonts/Proxima Nova Extrabold.ttf');
}
