<div class="container-fluid">

  <div class="container">
    <!-- Title -->
    <div class="d-flex justify-content-between align-items-lg-center py-3 flex-column flex-lg-row">
      <h2 class="h5 mb-3 mb-lg-0">Voeg een nieuwe deal toe</h2>
    </div>

    <!-- Main content -->
    <div class="row">
      <!-- Left side -->
      <div class="col-lg-8 deal-aanmaken">
        <!-- Basic information -->
        <div class="card mb-4">
          <div class="card-body">
            <h3 class="h6 mb-4">Deal informatie</h3>
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Titel</label>
                  <p>Vul hier de titel in van de deal</p>
                  <input type="text" class="form-control" [(ngModel)]="title">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Categorie</label>
                  <p>Vul hier de categorie in waaronder de deal valt</p>
                  <select class="form-select" [(ngModel)]="selectedCategorie">
                    <option *ngFor="let category of this.categories" [ngValue]="category.dealCategoryID">
                      {{category.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Beschrijving</label>
                <p>Vul hier de beschrijving in van de deal</p>
                <textarea type="text" class="form-control" style="width: 200%; height: 125px"
                  [(ngModel)]="description"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <h3 class="h6">Aantal</h3>
            <p>Vul hier in hoe vaak een deal geclaimed kan worden</p>
            <input type="number" class="form-control" style="width: 25%" pattern="[0-9]*" [(ngModel)]="MaxParticipants"
              oninput="this.value = this.value.replace(/[^0-9]/g, '');">
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <h3 class="h6">Locatie</h3>
            <p>Vul hier de locatie in waar de deal gebruikt kan worden</p>
            <input type="text" class="form-control" [(ngModel)]="location">
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <h3 class="h6 mb-4">Tot wanneer geldt de deal</h3>
            <p>Vul hier in tot wanneer de deal geclaimed kan worden</p>
            <mat-form-field>
              <input [(ngModel)]="selectedDate" matInput [matDatepicker]="dp">
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp></mat-datepicker>
            </mat-form-field>
            <h6 *ngIf="!HasDatePassed(selectedDate)">De datum is al geweest</h6>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <h3 class="h6">Foto</h3>
            <input type="text" class="form-control" [(ngModel)]="image">
            <p>Vul hier de link in naar de foto die zichtbaar moet zijn bij de deal</p>
          </div>
        </div>
      </div>

      <div class="preview">
        <p>Preview</p>
        <div class="dealCardPreview">
          <div class="dealCardImagePreview" #imageDiv>
            <img *ngIf="image" [src]="image" alt="Afbeelding niet gevonden" class="custom-avatar-img">
            <img *ngIf="image.length == 0"
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEX///+nxBvIAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=">
          </div>
          <div class="dealCardTextPreview">
            <h1 *ngIf="title">{{title}}</h1>
            <p class="textcontainerPreview" *ngIf="description">{{description}}</p>
          </div>
          <div class="dealCardExpirePreview">
            <p class="dealCardExpireDatePreview" [style]="{'color': HasDatePassed(selectedDate) ? 'black' : 'red'}" *ngIf="HasDatePassed(selectedDate)">{{selectedDate | date:'dd/MM/yyyy'}}</p>
            <p class="dealCardExpireParticipantsPreview" [style]="{'color': MaxParticipants <= 0? 'red' : 'black'}" *ngIf="MaxParticipants">{{MaxParticipants}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-group">
      <form (ngSubmit)="onSubmit()">
        <button type="submit" class="btn btn-primary">Opslaan</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Annuleren</button>
      </form>
    </div>
  </div>
</div>
